################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EBizz/bin/Debug/net8.0
/EBizz/.vs/EBizz
/ElectronicsMicroService/.vs/ElectronicsMicroService
/ElectronicsMicroService/bin/Debug/net8.0
